<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our Company</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odio tempora deserunt soluta sit voluptas, adipisci nam culpa necessitatibus repudiandae voluptatibus non, possimus sunt veritatis sint modi laborum blanditiis doloremque error vero. Iure ipsam modi debitis natus, illum ipsa nisi odit eveniet dolorem voluptate quam quasi impedit id repudiandae, dolores fuga nihil numquam itaque, doloribus facere earum possimus! Ratione tenetur labore autem animi nisi doloribus quas, suscipit sit magnam quaerat, minima tempora quia provident unde soluta? Quidem eius sed voluptatum exercitationem, deserunt quam dolorum id iure quis sint eum veniam vel harum voluptates ea cumque? Necessitatibus magnam possimus totam sint?</p>
<a href="/">Back Home</a>
</body>
</html>