<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <img src="images/istockphoto-841114654-612x612.jpg" alt="">
    <h1><%=username%></h1>
    <hr>
    <h1><%=email%></h1>
    <hr>
    <h1><%=name%></h1>

    <a href="/allUsers">View others</a>
</body>
</html>